{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Discount %</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Total Discount</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Delete</th>
                </thead>
                <tbody>
                {% for key, product in session['ShoppingCart'].items() %}
                    {% set discount = "%0.2f" | format((product.discount/100) * product.price|float * product.quantity|float) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="{{url_for('static', filename='images/'+ product.image)}}" alt="{{product.name}}" width="100" height="45"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.colors}}</td>
                        <td>{{product.price}}</td>
                        {% if product.discount > 0 %}
                        <td>{{product.discount}} %</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <form action="{{url_for('carts.updatecart', code=key)}}" method="POST">
                            <td><input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"></td>
                            {% set subtotal = product.quantity | int * product.price %}
                            <td>{{subtotal}}</td>
                            <td>{{discount}}</td>
                            <td>{{"%0.2f"|format((subtotal| float - discount|float))}}</td>
                             <td><button type="submit" class="btn btn-sm btn-info">Update</button> </td>
                        </form>
                        <td> <a href="{{url_for('carts.deleteItem', id=key)}}" class="btn btn-sm btn-danger">Delete</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-sm">
                <tr>
                    <td><a href="{{url_for('customers.get_order')}}" class="btn btn-success">Order Now</a></td>
                    <td width="35%"></td>
                    <td colspan="3"><h5>Tax: Rs{{tax}}</h5></td>
                    <td colspan="4"><h5>Grand Total: Rs{{grandtotal}}</h5></td>
                    <td><a href="{{url_for('carts.emptycart')}}" class="btn btn-danger btn-sm float-right mr-2"
                    >Empty Cart</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>





{% endblock %}


